.content {
	width: 75%;
	margin: 16px auto;
}

@media (max-width: 1500px) {
	.content {
		width: 90%;
	}
}

@media (max-width: 1300px) {
	.content {
		width: 96%;
	}
}

.sliderContainer {
	display: flex;
	height: 525px;
}

.banners {
	width: 43%;
	display: flex;
	justify-content: space-between;
}

img {
	border-radius: 15px;
}

.leftBanners {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
