.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	color: white;
	font-size: 14px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navigation li {
	cursor: pointer;
}

.icons {
	display: flex;
	gap: 20px;
	font-size: 20px;
}

.language {
	width: 65px;
	height: 32px;
	border-radius: 25%;
	padding: 0 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222342;
	font-size: 14px;
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		text-align: center;
	}

	.navigation ul {
		flex-direction: column;
	}
}
