.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	color: white;
	font-size: 14px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navigation li {
	cursor: pointer;
}

.navigation li:first-child {
	color: #40a5f3;
}

.icons {
	display: flex;
	gap: 20px;
	font-size: 14px;
}

.languageContainer {
	display: flex;
	flex-direction: column;
}

.language {
	border-radius: 15px;
	width: 65px;
	height: 32px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #222342;
	cursor: pointer;
}

.decimal {
	border-radius: 15px;
	width: 100px;
	height: 32px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #222342;
	cursor: pointer;
}

.wallet {
	border-radius: 15px;
	width: 150px;
	height: 32px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #222342;
	cursor: pointer;
}

@media (max-width: 926px) {
	.navigation {
		display: none;
	}
}

@media (max-width: 576px) {
	.navigation {
		display: none;
	}

	.logo {
		display: none;
	}

	.icons {
		width: 100%;
		font-size: 18px;
	}

	.language {
		width: 85px;
		height: 32px;
	}
	.decimal {
		width: 120px;
		height: 32px;
	}
	.wallet {
		width: 180px;
		height: 32px;
	}
}

@media (max-width: 450px) {
	.icons {
		width: 100%;
		font-size: 16px;
	}

	.decimal {
		width: 140px;
		height: 32px;
	}

	.wallet {
		width: 240px;
		height: 32px;
	}
}
