.contacts {
	display: flex;
	justify-content: space-around;
	color: #8b96a3;
	align-items: center;
	width: 210px;
}

.icon {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.icon:hover {
	color: #0093c4;
}

.number {
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	color: #8b96a3;
	width: 160px;
}

.number:hover {
	color: #fff;
}
