.catalogButton {
	align-items: center;
	background: none;
	background-color: #0093c4;
	border: none;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	justify-content: space-between;
	height: 50px;
	padding: 0 12px;
	transition: background-color 0.2s;
}

.catalogButton:hover {
	background-color: #006283;
}

.text {
	font-size: 16px;
	line-height: 21px;
	padding-left: 10px;
	font-weight: 500;
}
