.mobileNavigation {
	display: none;
	color: white;
}

@media (max-width: 576px) {
	.mobileNavigation {
		width: 100%;
		display: block;
		background-color: #222342;
	}
	.mobileNavigation ul {
		min-height: 70px;

		display: flex;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}
